body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/19/Background-3228704_1920.jpg);
    background-color: #f1ee78;
    font-family: 'Oswald', sans-serif;
}



h1,
p {
    color: grey;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;

}

h2 {
    color: rgb(172, 204, 209);
    text-align: center;
    font-size: 30px;


}

#tittle {
    size: 85ms;
}

form {
    text-align: center;
    color: rgb(73, 85, 84);
    font-size: 20px;
}